.grid-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "coluna" "scroll";
  
}

.coluna{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:fixed;
  width: 50vh;
  height: 100vh;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-right: 1px solid black;
  grid-template-rows: 1fr 1fr;



}

.coluna img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  margin: 0 auto;
}

.coluna p{
  margin: 0 auto;
}

.scroll{
  padding-left: 40vh;
  margin-left: 20vh;
  margin-top: 10vh;
  text-align: justify;  
  
  
}